extends layout

block content
  div.jumbotron.my-3
    h1.display-4 発表練習くん
    p.lead 発表練習くんは，GITHUBで認証する，発表練習用のアプリです
  if user
    div
      a(href="/transcriptions/new").btn.btn-info 原稿をつくる
      h3.my-3 あなたの作った原稿一覧
      table.table
        tr
          th 原稿名
          th 更新日時
        each transcription in transcriptions
          tr
            td
              a(href=`/transcriptions/${transcription.transcriptionId}`) #{transcription.transcriptionName}
            td  #{transcription.updatedAt}